<body>
      <div>
    <a href="/rock">
      Play Rock
    </a>
  </div>

  <div>
    <a href="/paper">
      Play Paper
    </a>
  </div>

  <div>
    <a href="/scissors">
      Play Scissors
    </a>
  </div>

  <h2>
    We played scissors!
  </h2>

  <h2>
   <%= @output[0]%>
  </h2>

  <h2>
    <%= @output[1]%>
  </h2>

  <a href="/">
    Rules
  </a>

  

</body>
